html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: white;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    background: black;
    opacity: 0.7;
    text-align: center;
    border-bottom: 1px solid red;
}

header img {
    height: 70px;
    width: 70px;
    position: fixed;
    left: 2px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 75px;
    background: black;
    opacity: 0.7;
    text-align: center;
    border-top: 1px solid red;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e50;
    margin: 15px;
}

input {
    padding: 10px;
    margin: 10px;
    color: #212121;
    border: 1px solid #d2d2d2;
    border-radius: 5px 5px 5px 5px;
    max-width: 90%;
    height: 50px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

button {
    padding: 10px;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

button#add {
    background-color: #46b98a;
}

button#add:hover {
    background-color: #3fa67c;
}

button#removeAll {
    background-color: #E0645C;
}

button#removeAll:hover {
    background-color: #c95a52;
}

button.removeMe {
    padding: 5px;
    font-size: 13px;
    margin-left: 10px;
    font-weight: 700;
}

button.removeMe:hover {
    background-color: #46b98a;
}

ul#list {
    margin: 0;
    padding: 20px 0 0 0;
}

li {
    list-style: none;
    font-size: 12px;
    padding: 4px;
}

#plus {
    background-color: #46b98a;
    margin-right: 30px;
}

#plus:hover {
    background-color: #3fa67c;
}

#minus {
    background-color: #E0645C;
    margin-left: 30px;
}

#minus:hover {
    background-color: #c95a52;
}

#todoList {
    padding-top: 20px;
    max-width: 50%;
    max-height: 75%;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    top: 90px;
    left: 10px;
    opacity: 0.8;
}

#timerRight {
    position: fixed;
    top: 90px;
    right: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    height: 500px;
    width: 500px;
    border: 2px solid red;
    opacity: 0.8;
    color: black;
}

#control-panel {
    margin-top: 80px;
}

#pomodoro {
    margin-top: 80px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 3px solid #999999;
    margin-left: 160px;
    line-height: 65px;
    font-size: 30px;
    padding-top: 15px;
    background-color: #cccccc;
}

#pomodoro:hover {
    background-color: #999999;
    cursor: pointer;
}

#reset {
    margin-top: 35px;
}

#timer {
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px white;
}

#resetBtn {
    background-color: #cccccc;
    color: black;
}

#resetBtn:hover {
    background-color: #999999;
}

td {
    font-size: 20px;
}